* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
  padding: 0;
}
#root {
  min-height: 200%;
  display: flex;
  padding: 40px;
  background: rgb(84, 0, 0);
  
}

.orders-container{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 50px;
  z-index: 13;
  justify-content: space-around;
}

.order-card {
  min-height: auto;
  width: 450px;
  height: 370px;
  padding: 16px;
  border: none;
  box-shadow: inset 0 5px 15px black;
  background: rgb(247, 228, 228);
  font-size: 24px;
  border-radius: 8px;
}

p{
  margin-bottom: 5px;
}

.statusSelect {
  width: 400px;
  height: 50px;
  border-radius: 8px;
  font-size: 25px;
  font-weight: bold;
  margin-top: 5px;
}

.statusSelect option {
  font-weight: bold;
}

/* Цвета для статусов */
.statusSelect option[value="New order"] {
  color: #87CEEB; /* голубой */
}

.statusSelect option[value="In progress"] {
  color: #FFA500; /* оранжевый */
}

.statusSelect option[value="Completed"] {
  color: #008000; /* зелёный */
}

.statusSelect option[value="Reviewed"] {
  color: #FFD700; /* жёлтый */
}

.statusSelect option[value="Blacklisted"] {
  color: #000000; /* чёрный */
}

.footer{

  width: 100%;
  height: 100px;
  background: rgb(84, 0, 0);
}